body
{
    background-color: rgb(245, 209, 177);
}

.header_div
{
    background-color: rgb(18, 184, 239);
    font-family: 'Roboto';
}



.copy_right_footer
{
    background-color: rgb(173, 161, 161);
    height: 50px;
}